$hide-function-bar-boundry: 960px;
$white: #fff;
$noisy-white: #f5f5f5;
$light-gray: #ddd;
$gray: #888;
$deep-gray: #444;
$black: #000;
$blue: #4c8bf5;
$red: #de5246;
$green: #1aa260;
$yellow: #fbbc05;
$transparent-black: #00000009;

*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    overflow: hidden;
    & > #panel-outer {
        flex-grow: 1;
        padding: 15px;
        & > #panel {
            width: 100%;
            min-height: 100%;
            height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            & > .row {
                display: flex;
                width: 100%;
                margin: 0;
                & > .cell {
                    margin: 0;
                    aspect-ratio: 1;
                    border: 0.5px solid $gray;
                    background-color: transparent;
                    transition-duration: 150ms;
                    &.source {
                        background-color: $blue;
                        border-color: $blue;
                    }
                    &.target {
                        background-color: $red;
                        border-color: $red;
                    }
                    &.wall {
                        background-color: $black;
                        border-color: $black;
                    }
                    &.path {
                        background-color: $yellow;
                        border-color: $yellow;
                    }
                    &.explored {
                        background-color: $green;
                    }
                    &.hide {
                        background-color: transparent !important;
                        border-color: $gray !important;
                    }
                }
            }
        }
    }
    & > #function-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        width: fit-content;
        min-height: max-content;
        padding: 15px;
        background-color: $noisy-white;
        border-left: 1px solid $noisy-white;
        & > #upper,
        & > #lower {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

.btn {
    $transition-duration: 150ms;
    $border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    border: none;
    border-radius: $border-radius;
    padding: 8px 15px;
    // width: max-content;
    font-size: 1rem;
    min-width: max-content;
    height: fit-content;
    transition-duration: $transition-duration;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        background-color: transparent;
        transition-duration: $transition-duration;
    }
    @media (hover: hover) {
        &:hover:not(:disabled) {
            &::before {
                background-color: $transparent-black;
            }
        }
    }
    &:disabled {
        cursor: not-allowed !important;
        color: $light-gray !important;
        background-color: $noisy-white !important;
    }
    &#new-btn-small,
    &#new-btn-medium,
    &#new-btn-big {
        background-color: $noisy-white;
        color: $deep-gray;
    }
    &#run-btn {
        background-color: $green;
        color: $white;
    }
    &#maze-btn {
        background-color: $deep-gray;
        color: $white;
    }
}

@media screen and (max-width: $hide-function-bar-boundry) {
    body {
        flex-direction: column;
        overflow: auto;
        & > #panel-outer {
            width: 100%;
        }
        & > #function-bar {
            width: 100%;
        }
    }
}
