$white: #fff;
$noisy-white: #f5f5f5;
$light-gray: #ddd;
$gray: #888;
$deep-gray: #444;
$black: #000;
$bluish-black: #0c0f30;
$red: #d4493f;
$green: #1aa260;
$blue: #4c8bf5;
$yellow: #fbbc05;
$transparent-black: #00000009;
$semi-transparent-black: #0007;
$transparent-blue: #4c8bf520;
$transparent-white: #ffffff90;
$small-screen-boundary: 512px;
$base-font-size: 1rem;

*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: $white;
    overflow: hidden;
    & > .control-panel {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 48px;
        padding: 4px 20px;
        @media (max-width: $small-screen-boundary) {
            padding: 4px 10px;
        }
        & > .left {
            display: flex;
            align-items: center;
            & > .logo {
                height: 100%;
                object-fit: contain;
                padding: 8px;
            }
            & > .text {
                font-family: cursive;
                @media (max-width: $small-screen-boundary) {
                    display: none;
                }
            }
        }
        & > .mid {
            display: flex;
            align-items: center;
            gap: 3px;
            height: 100%;
            padding: 5px;
            z-index: 1;
            @media (min-width: $small-screen-boundary) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            & > .button {
                display: flex;
                height: 100%;
                width: 25px;
                &:first-child {
                    border-radius: 8px 0 0 8px;
                }
                &:last-child {
                    border-radius: 0 8px 8px 0;
                }
            }
            & > .algorithm {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 2px;
                width: 100px;
                height: 100%;
                color: $gray;
                transition-duration: 150ms;
                @media (hover: hover) {
                    &:hover {
                        background-color: $transparent-black;
                    }
                }
            }
        }
        & > .right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 15px;
            @media (max-width: $small-screen-boundary) {
                gap: 10px;
            }
            & > .button {
                height: 32px;
                aspect-ratio: 1;
                padding: 8px;
                border-radius: 8px;
                @media (max-width: $small-screen-boundary) {
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
    & > .canvas {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px 15px;
        & > .row {
            display: flex;
            & > .cell {
                position: relative;
                aspect-ratio: 1;
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 85%;
                    width: 85%;
                    border-radius: 30%;
                    background-color: $transparent-black;
                }
                &.source {
                    cursor: grab;
                    &::after {
                        background-image: url("./icons/car.svg");
                        background-position: center;
                        background-size: 70%;
                        background-repeat: no-repeat;
                        background-color: transparent;
                    }
                }
                &.target {
                    cursor: grab;
                    &::after {
                        background-image: url("./icons/marker.svg");
                        background-position: center;
                        background-size: 70%;
                        background-repeat: no-repeat;
                        background-color: transparent;
                    }
                }
                &.wall {
                    &::after {
                        background-color: $bluish-black;
                    }
                    @media (hover: hover) {
                        &:hover::after {
                            opacity: 0.8;
                        }
                    }
                }
                &.explored {
                    &::after {
                        background-color: $green;
                        opacity: 0.5;
                    }
                    @media (hover: hover) {
                        &:hover::after {
                            opacity: 0.8 !important;
                        }
                    }
                    &.path {
                        &::after {
                            height: 50%;
                            width: 50%;
                            border-radius: 100px;
                            background-color: $yellow;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    & > .modal {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: none;
        z-index: 1;
        &.active {
            display: initial;
        }
        & > .background {
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: $transparent-white;
            backdrop-filter: blur(2px);
        }
        & > .main {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            border-radius: 20px;
            background-color: $white;
            box-shadow: 0 0 10px 10px $transparent-black;
            max-width: 90%;
            overflow: hidden;
            &.active {
                display: initial;
            }
            &.tutorial {
                width: fit-content;
                &[data-order="0"] {
                    background-color: #e8f9f1;
                    & > .body > .subtitle {
                        color: $green;
                    }
                }
                &[data-order="1"] {
                    background-color: #eef4ff;
                    & > .body > .subtitle {
                        color: $blue;
                    }
                }
                &[data-order="2"] {
                    background-color: #ffeeed;
                    & > .body > .subtitle {
                        color: $red;
                    }
                }
                &[data-order="3"] {
                    background-color: #fff9e6;
                    & > .body > .subtitle {
                        color: $yellow;
                    }
                }
                & > .body {
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    margin: 0;
                    &.active {
                        display: flex;
                    }
                    & > .subtitle {
                        font-size: 1.5 * $base-font-size;
                        margin: 20px auto 10px;
                    }
                }
                & > .footer {
                    display: flex;
                    justify-content: space-between;
                    margin-inline: 15px;
                    & > .do-not-show {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        color: $gray;
                        font-size: 0.9 * $base-font-size;
                    }
                    & > .button-container {
                        display: flex;
                        gap: 3px;
                    }
                }
            }
            &.explain-algorithm {
                width: min(90%, 512px);
            }
            &.clean-options {
                width: min(90%, 570px);
                & > .body {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                    gap: 20px;
                    & > .left,
                    .right {
                        margin: 0 auto;
                    }
                    & .option-container {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        & > .option-text {
                            font-size: 0.9 * $base-font-size;
                            margin-left: 5px;
                        }
                    }
                    & .image {
                        width: 250px;
                        aspect-ratio: 1;
                        border-radius: 10px;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    & > .left .image {
                        background-image: url("./images/retain-the-wall.webp");
                    }
                    & > .right .image {
                        background-image: url("./images/clean-all.webp");
                    }
                }
            }
            &.settings {
                width: fit-content;
                & > .body {
                    & > .row {
                        display: flex;
                        align-items: center;
                        margin: 15px 0;
                        & > .title {
                            font-size: 0.8 * $base-font-size;
                            color: $gray;
                            width: 65px;
                        }
                        & > .options {
                            display: flex;
                            gap: 10px;
                            & > .option-container {
                                display: flex;
                                align-items: center;
                                & > .option-text {
                                    padding: 0 5px;
                                }
                            }
                        }
                    }
                }
            }
            & > .header {
                display: flex;
                align-items: center;
                gap: 3px;
                height: 30px;
                margin: 15px 20px;
                & > .icon {
                    height: 100%;
                    aspect-ratio: 1;
                    padding: 5px;
                    color: $gray;
                }
                & > .text {
                    font-size: 1.1 * $base-font-size;
                    color: $gray;
                    padding: 0 5px;
                }
            }
            & > .body {
                margin: 20px 25px;
                text-align: justify;
                line-height: 1.5rem;
            }
            & > .footer {
                display: flex;
                justify-content: flex-end;
                margin: 15px 25px 20px;
                gap: 10px;
                & .button {
                    border-radius: 8px;
                    padding: 8px 15px;
                    font-size: 0.9 * $base-font-size;
                }
            }
        }
    }
}

.button {
    position: relative;
    color: $gray;
    transition-duration: 150ms;
    overflow: hidden;
    @media (hover: hover) {
        &:not(.disabled) {
            &:hover {
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-color: $transparent-black;
                }
            }
        }
    }
    &.disabled {
        color: $light-gray;
    }
    &.confirm-fill {
        background-color: $blue;
        color: $white;
    }
    &.confirm {
        color: $blue;
        font-weight: bold;
    }
}

.with-hint {
    position: relative;
    &::before {
        content: attr(data-hint-text);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, calc(100% + 3px));
        display: none;
        padding: 6px 8px;
        border-radius: 5px;
        background-color: $semi-transparent-black;
        color: $white;
        font-size: 0.7 * $base-font-size;
        white-space: nowrap;
        animation: fadein 300ms ease;
        z-index: 1;
    }
    @keyframes fadein {
        from {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @media (hover: hover) {
        &:hover:not(.disabled) {
            &::before {
                display: initial;
            }
        }
    }
}
